<table>
  <tbody>
    <tr>
      <th>PGN</th>
      <th>Perfect</th>
      <th>Imperfect</th>
      <th>Volitives</th>
      <th>Infinitive<br />Construct</th>
      <th>Infinitive<br />Absolute</th>
    </tr>
    <tr>
      <td>3ms</td>
      <td class="hebrew"><span>ק</span><span class="red">ָ</span><span>ט</span><span class="red">ַ</span><span>ל</span></td>
      <td class="hebrew"><span class="red">יִ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ</span><span>ל</span></td>
      <td class="hebrew"><span class="red">יִ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ</span><span>ל</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ</span><span>ל</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ָ</span><span>ט</span><span class="red">וֹ</span><span>ל</span></td>
    </tr>
    <tr>
      <td>3fs</td>
      <td class="hebrew"><span>ק</span><span class="red">ָֽ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">ָה</span></td>
      <td class="hebrew"><span class="red">תִּ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ</span><span>ל</span></td>
      <td class="hebrew"><span class="red">תִּ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ</span><span>ל</span></td>
    </tr>
    <tr>
      <td>2ms</td>
      <td class="hebrew"><span>ק</span><span class="red">ָ</span><span>ט</span><span class="red">ַ֫</span><span>ל</span><span class="red">ְתָּ</span></td>
      <td class="hebrew"><span class="red">תִּ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ</span><span>ל</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ</span><span>ל</span></td>
    </tr>
    <tr>
      <td>2fs</td>
      <td class="hebrew"><span>ק</span><span class="red">ָ</span><span>ט</span><span class="red">ַ</span><span>ל</span><span class="red">ְתְּ</span></td>
      <td class="hebrew"><span class="red">תִּ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">ִי</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ִ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">ִי</span></td>
      <th colspan="2">Participles</th>
    </tr>
    <tr>
      <td>1cs</td>
      <td class="hebrew"><span>ק</span><span class="red">ָ</span><span>ט</span><span class="red">ַ֫</span><span>ל</span><span class="red">ְתִּי</span></td>
      <td class="hebrew"><span class="red">אֶ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ</span><span>ל</span></td>
      <td class="hebrew"><span class="red">אֶ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">ָה</span></td>
      <th>Active</th>
      <th>Passive</th>
    </tr>
    <tr>
      <td>3mp</td>
      <td class="hebrew"><span>ק</span><span class="red">ָֽ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">וּ</span></td>
      <td class="hebrew"><span class="red">יִ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">וּ</span></td>
      <td class="hebrew"><span class="red">יִ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">וּ</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ֹ</span><span>ט</span><span class="red">ֵ</span><span>ל</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ָ</span><span>ט</span><span class="red">וּ</span><span>ל</span></td>
    </tr>
    <tr>
      <td>3fp</td>
      <td class="hebrew"><span>ק</span><span class="red">ָֽ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">וּ</span></td>
      <td class="hebrew"><span class="red">תִּ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ֫</span><span>ל</span><span class="red">ְנָה</span></td>
      <td class="hebrew"><span class="red">תִּ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ֫</span><span>ל</span><span class="red">ְנָ</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ֹ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">ָה</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">וּ</span><span>ל</span><span class="red">ָה</span></td>
    </tr>
    <tr>
      <td>2mp</td>
      <td class="hebrew"><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ַ</span><span>ל</span><span class="red">ְתֶּם</span></td>
      <td class="hebrew"><span class="red">תִּ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">וּ</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ִ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">וּ</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ֹ</span><span>ט</span><span class="red">ֶ֫</span><span>ל</span><span class="red">ֶת</span></td>
    </tr>
    <tr>
      <td>2fp</td>
      <td class="hebrew"><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ַ</span><span>ל</span><span class="red">ְתֶּן</span></td>
      <td class="hebrew"><span class="red">תִּ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ֫</span><span>ל</span><span class="red">ְנָה</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ֫</span><span>ל</span><span class="red">ְנָה</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ֹ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">ִים</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">וּ</span><span>ל</span><span class="red">ִים</span></td>
    </tr>
    <tr>
      <td>1cp</td>
      <td class="hebrew"><span>ק</span><span class="red">ָ</span><span>ט</span><span class="red">ַ֫</span><span>ל</span><span class="red">ְנוּ</span></td>
      <td class="hebrew"><span class="red">נִ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ֹ</span><span>ל</span></td>
      <td class="hebrew"><span class="red">נִ</span><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">ָה</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ֹ</span><span>ט</span><span class="red">ְ</span><span>ל</span><span class="red">וֹת</span></td>
      <td class="hebrew"><span>ק</span><span class="red">ְ</span><span>ט</span><span class="red">וּ</span><span>ל</span><span class="red">וֹת</span></td>
    </tr>
  </tbody>
</table>