/* You can add global styles to this file, and also import other style files */
// @import "./assets/fonts/cardo/font-styles.css";

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext'); // family=Cardo:400,400i,700|
@import url('https://fonts.googleapis.com/css?family=Cardo:400,400i,700&display=swap&subset=greek,greek-ext,latin-ext');

@import 'scss/_variables.scss';
//@import 'scss/_variables_darkly.scss';

@import "~bootstrap/scss/bootstrap";
//@import 'scss/_bootswatch.scss';
@import 'scss/_tables.scss';

body {
  /* Margin bottom by footer height */
  // margin-bottom: 60px;
  padding-top: 3.5rem;
}

h1 {
  margin-bottom: 3.5rem;
}

.btn,
.navbar {
  font-family: $font-family-sans-serif;
}

@mixin filter($radius) {
  -webkit-filter: blur($radius);
  -moz-filter: blur($radius);
  -o-filter: blur($radius);
  -ms-filter: blur($radius);
  filter: blur($radius);
}

.modal-open {

  app-root,
  .container {
    @include filter(5px);
  }
}

.hebrew {
  font-family: Cardo, serif;
  direction: rtl;
  font-size: 1.65em;
  text-align: center;
  display: inline-flex;
}

.vowel::before {
  color: $body-color;
  content: '\25CC';
}

.vowel-transparent::before {
  color: transparent;
  content: '\25CC';
}

.red {
  color: $red;
}