/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "./assets/fonts/cardo/font-styles.css";

html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	/* margin-bottom: 60px; */
	padding-top: 4.5rem;
}

.modal-open .container {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

table, tbody, tr, td {
  border-collapse: collapse;
  border: none;
}

table {
  margin: 1em auto;
}

tr:last-child {
  border-bottom: none;
}

thead > tr:first-child > th {
	border-top: none;
  border-bottom: 2px solid black;
}

.table td, .table th {
  padding: 4px 6px;
  text-align: center;
  vertical-align: middle;
}

.hebrew {
  font-family: Cardo, serif;
  direction: rtl;
  font-size: 1.65em;
  text-align: center;
}