@import 'scss/_variables.scss';

.table-sortable>thead>tr {
  >th {
    cursor: pointer;
    position: relative;
    background-image: none;

    .fa-sort {
      color: #ddd;
    }

    .fa-sort-up,
    .fa-sort-down {
      color: #767676;
      display: none;
    }
  }

  >th.sort-false .fa-sort,
  >th.sort-true .fa-sort {
    display: none;
  }

  >th.sort-false .fa-sort-up {
    display: inline;
  }

  >th.sort-true .fa-sort-down {
    display: inline;
  }
}

.table-btn {
  background-color: #428bca;
  color: white;
}

.table-responsive,
.table-responsive-sm,
.table-responsive-md,
.table-responsive-lg {
  height: 100%;
  overflow-y: scroll;
  border: 1px solid #dee2e6;
}

.data-pagination ::ng-deep .ngx-pagination .current {
  background: $primary;
}