<div class="row justify-content-center">
  <h1>Edit Distance</h1>
</div>

<div class="row justify-content-center">
  <div class="col">
    <p>
      <a href="https://en.wikipedia.org/wiki/Edit_distance" target="_blank"
        >Edit distance,</a
      >
      in computational linguistics and computer science, is a way of quantifying
      how dissimilar two strings (e.g., words) are to one another by counting
      the minimum number of operations required to transform one string into the
      other. The three possible operations are insertion, deletion, and
      substitution.
    </p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="jumbotron">
    <div id="stage">
      <canvas
        id="game-layer"
        style="border: 1px solid;"
        width="600"
        height="300"
      ></canvas>
      <canvas
        id="background-layer"
        style="border: 1px solid;"
        width="600"
        height="300"
      ></canvas>
    </div>
    <form class="form">
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="srcString">Source</label>
            <input
              type="text"
              class="form-control"
              id="srcString"
              placeholder="Enter source string"
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="dstString">Destination</label>
            <input
              type="text"
              class="form-control"
              id="dstString"
              placeholder="Enter destination string"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    <h2>Pseudocode</h2>
    <br />
    <div>
      <pre><code>
placeQueens( queens: number[] = [], r: number = 0, solutions: number[][] = [] ) {{ '{' }}
  if (r === n) {{ '{' }}
    solutions.add([queens]);
  {{ '}' }} else {{ '{' }}
    for (let x = 0; x &lt; n; x++) {{ '{' }}
      let legal = true;
      for (let y = 0; y &lt; r; y++) {{ '{' }}
        if (
          queens[y] === x ||
          queens[y] === x + r - y ||
          queens[y] === x - r + y
        ) {{ '{' }}
          legal = false;
        {{ '}' }}
      {{ '}' }}
      if (legal) {{ '{' }}
        queens[r] = x;
        placeQueens(queens, r + 1, solutions);
      {{ '}' }}
    {{ '}' }}
  {{ '}' }}
  return solutions;
{{ '}' }}
</code></pre>
    </div>
  </div>
</div>
