<div class="card">
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample">
    Gutturals
  </button>
  <div class="card-body" id="collapseExample" [ngbCollapse]="isCollapsed">
    <ngb-tabset class="text-center" justify="fill">
      <ngb-tab id="dagesh-forte">
        <ng-template ngbTabTitle><h6>Dagesh Forte</h6></ng-template>
        <ng-template ngbTabContent>
          <app-dagesh-forte></app-dagesh-forte>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="sewa">
        <ng-template ngbTabTitle><h6>Sewa</h6></ng-template>
        <ng-template ngbTabContent>
          <app-sewa></app-sewa>
        </ng-template>
      </ngb-tab>
      <ngb-tab id="a-class">
        <ng-template ngbTabTitle><h6>A-class Environment</h6></ng-template>
        <ng-template ngbTabContent>
          <app-a-class></app-a-class>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</div>