<div class="row justify-content-center">
  <h2>Gutturals</h2>
</div>
<div class="row">
  <div class="card-group">
    <div class="card">
      <div class="card-header">
        <h5>Dagesh Forte</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Preceding vowel may lengthen to compensate for loss of consonantal doubling</li>
        <li class="list-group-item">
          <div class="d-flex flex-row">
            <div class="p-2">
              <p class="hebrew">
                <span>בּ</span>
                <span class="red">ֹ</span>
                <span>ר</span>
                <span class="red">ַ</span>
                <span>ךְ</span>
              </p>
              <p class="small text-center">Weak</p>
            </div>
            <div class="p-2 font-italic">
              Resh resists doubling so Qibbuts lengthens to Holem
            </div>
            <div class="p-2">
              <p class="hebrew">
                <span>ק</span>
                <span class="red">ֻ</span>
                <span>ט</span>
                <span class="red">ַּ</span>
                <span>ל</span>
              </p>
              <p class="small text-center">Strong</p>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <span class="hebrew">ה</span> and
          <span class="hebrew">ח</span> do not always cause compensatory lengthening. Trouble will be with doubled stems and some forms of nifal</li>
      </ul>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>Shewa</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div>
            <span class="badge badge-primary badge-pill">1</span>
            <strong>Vocal</strong> Shewa always becomes
            <strong>composite</strong> Shewa
          </div>
          <div class="d-flex flex-row">
            <div class="mr-auto p-2">
              <p class="hebrew">
                <span>שָׁאּ</span>
                <span class="red">ֲ</span>
                <span>לוּ</span>
              </p>
              <p class="small text-center">Weak</p>
            </div>
            <div class="ml-auto p-2">
              <p class="hebrew">
                <span>קָטּ</span>
                <span class="red">ְ</span>
                <span>לוּ</span>
              </p>
              <p class="small text-center">Strong</p>
            </div>
          </div>
        </li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
      </ul>
    </div>
    <div class="card">
      <div class="card-header">
        <h5>A-class Environment</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
      </ul>
    </div>
  </div>
</div>