.card {
  font-size: 1.75rem;
  text-align: center;
  min-height: 24rem;
}

/deep/ table {
  margin: 1rem auto;
}

div {
  margin: 10px;
}

a {
  color: black;
  text-decoration: none;
}

.opacity-50 {
  opacity: 0.5;
}
.opacity-75 {
  opacity: 0.75;
}

.font-size-2_5 {
  font-size: 2.5em;
}
.font-size-1_5 {
  font-size: 1.5em;
}
.font-size-0_8 {
  font-size: .8em;
}
.font-size-0_7 {
  font-size: .7em;
}

.font-mono {
  font-family: monospace;
}