<div class="row justify-content-center">
  <h1>Snake</h1>
</div>

<div class="row justify-content-center">
  <div class="col">
    <p>
      <a
        href="https://en.wikipedia.org/wiki/Snake_(video_game_genre)"
        target="_blank"
        >Snake</a
      >
      is the common name for a video game concept where the player maneuvers a
      line which grows in length, with the line itself being a primary obstacle.
    </p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="jumbotron">
    <div id="stage">
      <canvas id="game-layer" width="700" height="500"></canvas>
      <canvas id="background-layer" width="700" height="500"></canvas>
    </div>

    <form class="form">
      <div class="row justify-content-center mt-1">
        <div class="col-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="scoreLabel">Score</span>
            </div>
            <input
              type="text"
              class="form-control"
              aria-describedby="scoreLabel"
              [(ngModel)]="score"
              [ngModelOptions]="{ standalone: true }"
              disabled
            />
          </div>
        </div>
        <div class="col-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="highScoreLabel"
                >Your High Score</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-describedby="highScoreLabel"
              [(ngModel)]="highScore"
              [ngModelOptions]="{ standalone: true }"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center mt-1">
        <div class="col-4">
          <div class="form-group">
            <button
              class="btn btn-dark"
              type="button"
              (click)="animator.pause()"
              *ngIf="!animator.paused"
            >
              <i class="fas fa-pause"></i>
            </button>
            <button
              class="btn btn-dark"
              type="button"
              (click)="animator.pause()"
              *ngIf="animator.paused"
            >
              <i class="fas fa-play"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
