#stage {
  width: 600px;
  height: 600px;
  position: relative;
  box-sizing: content-box;
  border: 1px solid;
  background-color: white;

  canvas {
    position: absolute;
  }

  #ui-layer {
    z-index: 3;
  }

  #game-layer {
    z-index: 2;
  }

  #background-layer {
    z-index: 1;
  }
}