<div class="card-body">
  <h3 class="card-title">Shewa</h3>
  <div class="card-text">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col">
                <p>
                  <span class="badge badge-primary badge-pill">1</span>
                  <strong class="text-primary">Vocal</strong> Shewa always becomes
                  <strong class="text-primary">composite</strong> Shewa
                </p>
                <div class="d-flex flex-row">
                  <div class="mr-auto p-2">
                    <p class="hebrew">
                      <span>שָׁאּ</span>
                      <span class="text-info font-weight-bold">ֲ</span>
                      <span>לוּ</span>
                    </p>
                    <p class="small text-center">Weak</p>
                  </div>
                  <div class="ml-auto p-2">
                    <p class="hebrew">
                      <span>קָטּ</span>
                      <span class="text-info font-weight-bold">ְ</span>
                      <span>לוּ</span>
                    </p>
                    <p class="small text-center">Strong</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>
                  <span class="badge badge-primary badge-pill">2</span>
                  <strong class="text-primary">Silent</strong> Shewa in
                  <em>accented</em> syllable
                  <strong class="text-primary">Not</strong> composite
                </p>
                <div class="d-flex flex-row">
                  <div class="mr-auto p-2">
                    <p class="hebrew">
                      <span>שָׁ</span>
                      <span class="text-info font-weight-bold">לַ֫</span>
                      <span>חְתִי</span>
                    </p>
                    <p class="small text-center">Weak</p>
                  </div>
                  <div class="ml-auto p-2">
                    <p class="hebrew">
                      <span>קָ</span>
                      <span class="text-info font-weight-bold">טַ֫</span>
                      <span>לְתִי</span>
                    </p>
                    <p class="small text-center">Strong</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <p>
                    <span class="badge badge-primary badge-pill">3</span>
                    <strong class="text-primary">Pe-Gutturals</strong> that are syllable-final (Hif, Hof, Qal Impf, Nif Perf, Nif Ptcp)
                    <br>
                    <em>Remember Theme Vowels</em>
                  </p>
                  <div>
                    <div>
                      <div class="p-2 small text-center">
                        <strong>Nif Perf 3ms</strong>
                      </div>
                      <div>
                        <ul class="list-inline small text-center">
                          <li class="list-inline-item">composite instead of silent sewa</li>
                          <li class="list-inline-item">performative takes corresponding vowel</li>
                          <li class="list-inline-item">a-class theme vowel</li>
                        </ul>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="ml-auto p-2">
                          <p class="hebrew">
                            <span>נ</span>
                            <span class="text-info font-weight-bold">ֶ</span>
                            <span>א</span>
                            <span class="text-info font-weight-bold">ֱ</span>
                            <span>מ</span>
                            <span class="text-info font-weight-bold">ַ</span>
                            <span>ן</span>
                          </p>
                          <p class="small text-center">Weak</p>
                        </div>
                        <div class="mr-auto p-2">
                          <p class="hebrew">
                            <span>נ</span>
                            <span class="text-info font-weight-bold">ִ</span>
                            <span>ק</span>
                            <span class="text-info font-weight-bold">ְ</span>
                            <span>ט</span>
                            <span class="text-info font-weight-bold">ַ</span>
                            <span>ל</span>
                          </p>
                          <p class="small text-center">Strong</p>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="p-2 small text-center">
                        <strong>Qal Impf 3ms</strong>
                      </div>
                      <div>
                        <ul class="list-inline small text-center">
                          <li class="list-inline-item">composite instead of silent sewa</li>
                          <li class="list-inline-item">performative takes corresponding vowel</li>
                          <li class="list-inline-item">o-class theme vowel</li>
                        </ul>
                      </div>
                      <div class="d-flex flex-row">
                        <div class="ml-auto p-2">
                          <p class="hebrew">
                            <span>י</span>
                            <span class="text-info font-weight-bold">ַ</span>
                            <span>ע</span>
                            <span class="text-info font-weight-bold">ֲ</span>
                            <span>מ</span>
                            <span class="text-info font-weight-bold">ֹ</span>
                            <span>ד</span>
                          </p>
                          <p class="small text-center">Weak</p>
                        </div>
                        <div class="mr-auto p-2">
                          <p class="hebrew">
                            <span>י</span>
                            <span class="text-info font-weight-bold">ִ</span>
                            <span>ק</span>
                            <span class="text-info font-weight-bold">ְ</span>
                            <span>ט</span>
                            <span class="text-info font-weight-bold">ֹ</span>
                            <span>ל</span>
                          </p>
                          <p class="small text-center">Strong</p>
                        </div>
                      </div>
                    </div>
                    <div>
                      <div class="p-2 small text-center">
                        <strong>BUT...</strong>
                      </div>
                      <div class="small text-center">
                        <span class="hebrew">ה</span> or
                        <span class="hebrew">ח</span> may or may not become composite!
                      </div>
                      <div class="d-flex flex-row">
                        <div class="ml-auto p-2">
                          <p class="hebrew">
                            <span>יַ</span>
                            <span class="text-info font-weight-bold">חְ</span>
                            <span>מֹךְ</span>
                          </p>
                          <p class="small text-center">Weak</p>
                        </div>
                        <div class="mr-auto p-2">
                          <p class="hebrew">
                            <span>יִקְטֹל</span>
                          </p>
                          <p class="small text-center">Strong</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div>
              <ul class="list-group list-group-flush">


                <li class="list-group-item">
                  <p>
                    <span class="badge badge-primary badge-pill">4</span>
                    <strong class="text-primary">Special Case:</strong> Pe-Guttural that closes a syllable (w/ silent sewa) and would be followed by a
                    vocal sewa)
                    <br>
                    <em>Composite sewa cannot precede vocal sewa</em>
                  </p>
                  <div>
                    <div class="p-2 small text-center">
                      <strong>Nif Perf 3fs</strong>
                    </div>
                    <div>
                      <ul class="list-inline small text-center">
                        <li class="list-inline-item">silent sewa becomes short vowel</li>
                        <li class="list-inline-item">vocal sewa becomes silent</li>
                      </ul>
                    </div>
                    <div class="text-center">
                      <div class="hebrew">
                        <span>נִקְטְלָה</span>
                      </div>
                    </div>
                    <div class="text-center">
                      <i class="fas fa-angle-double-down"></i>
                    </div>
                    <div class="text-center">
                      <div class="hebrew">
                        <span>נֶ</span>
                        <span class="text-danger font-weight-bold">עֱמְ</span>
                        <span>דָה</span>
                      </div>
                    </div>
                    <div class="text-center">
                      <i class="fas fa-angle-double-down"></i>
                    </div>
                    <div class="text-center">
                      <div class="hebrew">
                        <span>נֶ</span>
                        <span class="text-success font-weight-bold">עֶמְ</span>
                        <span>דָה</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>