<div class="row justify-content-center">
  <h1>Tower of Hanoi</h1>
</div>

<div class="row justify-content-center">
  <div class="col">
    <p>
      <a href="https://en.wikipedia.org/wiki/Tower_of_Hanoi" target="_blank"
        >Tower of Hanoi.</a
      >The objective of the puzzle is to move the entire stack of disks to
      another rod, obeying the following simple rules:
    </p>
    <ol>
      <li>Only one disk can be moved at a time.</li>
      <li>
        Each move consists of taking the upper disk from one of the stacks and
        placing it on top of another stack or on an empty rod.
      </li>
      <li>No larger disk may be placed on top of a smaller disk.</li>
    </ol>
    <p>
      The minimal number of moves required is
      <var>2 <sup>n</sup> − 1</var>, where <var>n</var> is the number of disks
    </p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="jumbotron">
    <div id="stage">
      <canvas
        id="game-layer"
        style="border: 1px solid;"
        width="600"
        height="300"
      ></canvas>
      <canvas
        id="background-layer"
        style="border: 1px solid;"
        width="600"
        height="300"
      ></canvas>
    </div>
    <progressbar
      [animate]="false"
      [value]="algorithm.getProgress()"
      [max]="algorithm.getMax()"
      type="success"
      >{{ algorithm.getProgress() }} / {{ algorithm.getMax() }}</progressbar
    >
    <form class="form">
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="formControlRangeN">n={{ algorithm.n }}</label>
            <input
              id="formControlRangeN"
              class="form-control-range"
              type="range"
              min="1"
              [max]="10"
              step="1"
              [(ngModel)]="algorithm.n"
              [ngModelOptions]="{ standalone: true }"
              (change)="algorithm.reset()"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="formControlRangeFps">
              speed={{ algorithm.fps | number: '1.1-2' }} fps</label
            >
            <input
              id="formControlRangeFps"
              type="range"
              class="form-control-range"
              min="0.5"
              [max]="30"
              step="0.5"
              [(ngModel)]="algorithm.fps"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <button
            type="button"
            class="btn btn-danger"
            (click)="algorithm.reset()"
          >
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    <h2>Pseudocode</h2>
    <br />
    <div>
      <pre><code>
hanoi(n: number, src: Peg, dst: Peg, tmp: Peg) {{ '{' }}
  if (n &gt; 0) {{ '{' }}
    hanoi(n - 1, src, tmp, dst);
  
    // move disk n from src to dst
    const diskN = src.diskIds.pop();
    dst.diskIds.push(diskN);
  
    hanoi(n - 1, tmp, dst, src);
  {{ '}' }}
{{ '}' }}
</code></pre>
    </div>
  </div>
</div>
