<div class="input-group mb-3">
	<div class="input-group-prepend">
		<span class="input-group-text" id="searchLabel">{{title}}</span>
	</div>
	<input id="searchBox" class='form-control' aria-describedby="searchLabel"
		placeholder='Enter any text to filter' (paste)='getPasteData($event)'
		(keyup)='getEachChar($event.target.value)' type='text'
		[(ngModel)]='listFilter' />
</div>
	<div *ngIf='listFilter'>
		<ngb-alert type="secondary" (close)="clearFilter()">Filter
		by: {{listFilter}}</ngb-alert>
	</div>
