<div class="card-body">
  <h3 class="card-title">A-class Environment</h3>
  <div class="card-text">
    <div class="card">
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <p>
              <strong class="text-primary">When Lamed-Guttural</strong>
              <span>is syllable-final and accented, it must be preceded by a-class vowel</span>
              <strong class="text-primary">unless</strong>
              <span>the vowel is unchangeable, then use furtive Pathach</span>
            </p>
            <div class="d-flex flex-row">
              <div class="ml-auto p-2">
                <p class="hebrew">
                  <span>יִשְׁמ</span>
                  <span class="text-info font-weight-bold">ַ</span>
                  <span>ע</span>
                </p>
                <p class="small text-center">Weak</p>
              </div>
              <div class="mr-auto p-2">
                <p class="hebrew">
                  <span>יִקְט</span>
                  <span class="text-info font-weight-bold">ֹ</span>
                  <span>ל</span>
                </p>
                <p class="small text-center">Strong</p>
              </div>
            </div>
            <div class="p-2 font-italic text-center">unchangeable = historic long vowel
            </div>
            <div class="d-flex flex-row">
              <div class="ml-auto p-2">
                <p class="hebrew">
                  <span>הִשְׁמ</span>
                  <span class="text-info font-weight-bold">ִי</span>
                  <span>ע</span>
                  <span class="text-info font-weight-bold">ַ</span>
                </p>
                <p class="small text-center">Weak</p>
              </div>
              <div class="mr-auto p-2">
                <p class="hebrew">
                  <span>הִקְמ</span>
                  <span class="text-info font-weight-bold">ִי</span>
                  <span>ל</span>
                </p>
                <p class="small text-center">Strong</p>
              </div>
            </div>
            <p>
              <strong class="text-primary">For II-Guttural</strong>
              <span>the following vowel is changed only if the vowel is changeable</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>