
table, tbody, tr, td {
  border-collapse: collapse;
  border: none;
}

.table {
  margin: 1em auto;

  thead > tr:first-child > th {
    border-top: none;
    border-bottom: 2px solid black;
  }

  thead th {
    font-family: $font-family-sans-serif;
    font-weight: inherit;
  }

  tr:last-child {
    border-bottom: none;
  }

  td, th {
    padding: 4px 6px;
    text-align: center;
    vertical-align: middle;
  }
}
