<div class="row justify-content-center">
  <h1>Edit Distance</h1>
</div>

<div class="row justify-content-center">
  <div class="col">
    <p>
      <a href="https://en.wikipedia.org/wiki/Edit_distance" target="_blank"
        >Edit distance,</a
      >
      in computational linguistics and computer science, is a way of quantifying
      how dissimilar two strings (e.g., words) are to one another by counting
      the minimum number of operations required to transform one string into the
      other. The three possible operations are insertion, deletion, and
      substitution.
    </p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="jumbotron">
    <div id="stage">
      <canvas id="game-layer" width="600" height="300"></canvas>
      <canvas id="background-layer" width="600" height="300"></canvas>
    </div>

    <form class="form">
      <div class="row justify-content-center align-items-center mt-1">
        <div class="col-2">
          <div class="form-group">
            <button
              class="btn btn-dark float-right"
              type="button"
              (click)="animator.previous()"
            >
              <i class="fas fa-backward"></i>
            </button>
          </div>
        </div>
        <div class="col-8">
          <progressbar
            [animate]="false"
            [value]="animator.getProgress() + 1"
            [max]="animator.getMax()"
            type="success"
            >{{ animator.getProgress() + 1 }} /
            {{ animator.getMax() }}</progressbar
          >
        </div>
        <div class="col-2">
          <div class="form-group">
            <button
              class="btn btn-dark float-left"
              type="button"
              (click)="animator.next()"
            >
              <i class="fas fa-forward"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="distanceLabel"
                >Edit Distance</span
              >
            </div>
            <input
              type="text"
              class="form-control"
              aria-describedby="distanceLabel"
              [(ngModel)]="distance"
              [ngModelOptions]="{ standalone: true }"
              disabled
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="srcString">Source</label>
            <input
              type="text"
              class="form-control"
              id="srcString"
              placeholder="ALGORITHM"
              [(ngModel)]="src"
              [ngModelOptions]="{ standalone: true }"
              (change)="reset()"
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="dstString">Destination</label>
            <input
              type="text"
              class="form-control"
              id="dstString"
              placeholder="ALTRUISTIC"
              [(ngModel)]="dst"
              [ngModelOptions]="{ standalone: true }"
              (change)="reset()"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col">
    <h2>Pseudocode</h2>
    <br />
    <div>
      <pre><code>
editDistance(src: string, dst: string): number[][] {{ '{' }}
  const edit: number[][] = [];

  const m = src.length - 1;
  const n = dst.length - 1;

  edit[0] = [];
  for (let j = 0; j &lt;= n; j++) {{ '{' }}
    edit[0][j] = j;
  {{ '}' }}
  for (let i = 1; i &lt;= m; i++) {{ '{' }}
    edit[i] = [];
    edit[i][0] = i;
    for (let j = 1; j &lt;= n; j++) {{ '{' }}
      const ins = edit[i][j - 1] + 1;
      const del = edit[i - 1][j] + 1;
      let rep = edit[i - 1][j - 1];
      if (src[i] !== dst[j]) {{ '{' }}
        rep += 1;
      }
      edit[i][j] = Math.min(ins, del, rep);
    {{ '}' }}
  {{ '}' }}

  return edit[m][n];
{{ '}' }}
</code></pre>
    </div>
  </div>
</div>
