.card {
 font-family: Cardo, Georgia;
 font-size: 30px;
 text-align: center;
 color: black;
 background-color: white;
}
table {
  margin: 1em auto;
}
td {
  text-align:left;
}
div {
  margin: 10px;
}
a {
  color:black;
  text-decoration: none;
}
.term {
  font-size: 1.5em;
}
.term2 {
  font-size: .8em;
  vertical-align: middle;
}
.term2, .term2 a {
  color: grey;
}
.note {
  font-size: .7em;
}
.root {
  font-size: .8em;
  color: grey;
}
.type {
  font-size: .8em;
  color: #ccc;
}
