<div class="row justify-content-center">
  <h1>Greek Vocab</h1>
</div>
<div class="row justify-content-center">
  <p>
    <b>Tags:</b>
    <button
      *ngFor="let tag of tags"
      type="button"
      class="btn btn-sm mx-1 btn-outline-secondary"
      placement="top"
      triggers="mouseenter:mouseleave"
      popoverTitle="{{ tag.tag }}"
      ngbPopover="{{ tag.description }}"
    >
      {{ tag.tag }}
    </button>
  </p>
</div>
<app-data-grid
  [columns]="columns"
  [data]="vocab"
  [sort]="sorting"
  [isShowFilter]="true"
  [isExportToCSV]="true"
  [flashCardsType]="'greek'"
  [exportFileName]="exportFileName"
  [filterIgnore]="filterIgnore"
>
</app-data-grid>
