<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
	<a class="navbar-brand" routerLink="">{{title}}</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li *ngFor="let nav of navs" ngbDropdown [class.dropdown]="nav.children" class="nav-item" [routerLinkActive]="['active']">
			  <a *ngIf="!nav.children" class="nav-link" routerLink="{{nav.path}}">{{nav.name}}</a>
				<a *ngIf="nav.children" ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{nav.name}}</a>
				<div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a *ngFor="let child of nav.children" class="dropdown-item" [routerLinkActive]="['active']" routerLink="{{nav.path}}{{child.path}}">{{child.name}}</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
