<div class="row justify-content-center">
  <h1>{{title}}</h1>
</div>
<div class='row justify-content-center'>
<div class='form-check'>
  <input class='form-check-input' type='checkbox' [checked]='vowels'  (change)='vowels = !vowels' id='vowelsCheck'>
  <label class='form-check-label' for='vowelsCheck'>Vowels</label>
</div>
</div>
<div class='row justify-content-center'>
<div class='table-responsive-sm'>
 <table class='table'>
   <thead>
     <tr>
       <th scope='col'>PGN</th>
       <th scope='col'>Perfect</th>
       <th scope='col'>Imperfect</th>
       <th scope='col'>Volitives</th>
       <th scope='col'></th>
       <th scope='col'></th>
       <th scope="col"></th>
       <th scope="col"></th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <th scope='row'>3ms</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ָ</span><span>ט</span><span [class.vowel]='vowels'>ַ</span><span>ל</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>יִ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ</span><span>ל</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>יִ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ</span><span>ל</span></td>
       <td>Jussive</td>
       <td></td>
       <th scope='col' colspan="2" style='border-bottom:inherit'>Infinitives</th>
     </tr>
     <tr>
       <th scope='row'>3fs</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ָֽ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>ָה</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>תִּ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ</span><span>ל</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>תִּ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ</span><span>ל</span></td>
       <td>Jussive</td>
       <td></td>
       <th scope='col' class='borderbottom'>Construct</th>
       <th scope='col' class='borderbottom'>Absolute</th>
     </tr>
     <tr>
       <th scope='row'>2ms</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ָ</span><span>ט</span><span [class.vowel]='vowels'>ַ֫</span><span>ל</span><span [class.vowel]='vowels'>ְתָּ</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>תִּ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ</span><span>ל</span></td>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ</span><span>ל</span></td>
       <td>Imperative</td>
       <td></td>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ</span><span>ל</span></td>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ָ</span><span>ט</span><span [class.vowel]='vowels'>וֹ</span><span>ל</span></td>
     </tr>
     <tr>
       <th scope='row'>2fs</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ָ</span><span>ט</span><span [class.vowel]='vowels'>ַ</span><span>ל</span><span [class.vowel]='vowels'>ְתְּ</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>תִּ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>ִי</span></td>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ִ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>ִי</span></td>
       <td>Imperative</td>
       <td></td>
       <th colspan='2' class='bordertop'>Participles</th>
     </tr>
     <tr>
       <th scope='row'>1cs</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ָ</span><span>ט</span><span [class.vowel]='vowels'>ַ֫</span><span>ל</span><span [class.vowel]='vowels'>ְתִּי</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>אֶ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ</span><span>ל</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>אֶ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>ָה</span></td>
       <td>Cohortative</td>
       <td></td>
       <th scope='col' class='borderbottom'>Active</th>
       <th scope='col' class='borderbottom'>Passive</th>
     </tr>
     <tr>
       <th scope='row'>3mp</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ָֽ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>וּ</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>יִ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>וּ</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>יִ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>וּ</span></td>
       <td>Jussive</td>
       <th scope='row'>ms</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ֹ</span><span>ט</span><span [class.vowel]='vowels'>ֵ</span><span>ל</span></td>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ָ</span><span>ט</span><span [class.vowel]='vowels'>וּ</span><span>ל</span></td>
     </tr>
     <tr>
       <th scope='row'>3fp</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ָֽ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>וּ</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>תִּ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ֫</span><span>ל</span><span [class.vowel]='vowels'>ְנָה</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>תִּ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ֫</span><span>ל</span><span [class.vowel]='vowels'>ְנָ</span></td>
       <td>Jussive</td>
       <th scope='row'>fs</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ֹ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>ָה</span></td>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>וּ</span><span>ל</span><span [class.vowel]='vowels'>ָה</span></td>
     </tr>
     <tr>
       <th scope='row'>2mp</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ַ</span><span>ל</span><span [class.vowel]='vowels'>ְתֶּם</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>תִּ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>וּ</span></td>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ִ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>וּ</span></td>
       <td>Imperative</td>
       <th scope='row'>fs</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ֹ</span><span>ט</span><span [class.vowel]='vowels'>ֶ֫</span><span>ל</span><span [class.vowel]='vowels'>ֶת</span></td>
       <td></td>
     </tr>
     <tr>
       <th scope='row'>2fp</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ַ</span><span>ל</span><span [class.vowel]='vowels'>ְתֶּן</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>תִּ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ֫</span><span>ל</span><span [class.vowel]='vowels'>ְנָה</span></td>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ֫</span><span>ל</span><span [class.vowel]='vowels'>ְנָה</span></td>
       <td>Imperative</td>
       <th scope='row'>mp</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ֹ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>ִים</span></td>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>וּ</span><span>ל</span><span [class.vowel]='vowels'>ִים</span></td>
     </tr>
     <tr>
       <th scope='row'>1cp</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ָ</span><span>ט</span><span [class.vowel]='vowels'>ַ֫</span><span>ל</span><span [class.vowel]='vowels'>ְנוּ</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>נִ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ֹ</span><span>ל</span></td>
       <td class='hebrew'><span [class.vowel]='vowels'>נִ</span><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>ָה</span></td>
       <td>Cohortative</td>
       <th scope='row'>fp</th>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ֹ</span><span>ט</span><span [class.vowel]='vowels'>ְ</span><span>ל</span><span [class.vowel]='vowels'>וֹת</span></td>
       <td class='hebrew'><span>ק</span><span [class.vowel]='vowels'>ְ</span><span>ט</span><span [class.vowel]='vowels'>וּ</span><span>ל</span><span [class.vowel]='vowels'>וֹת</span></td>
     </tr>
   </tbody>
 </table>
 </div>
 </div>
