@import '../../../scss/_variables';

tr {
  > th:first-child {
    border-right: 2px solid black;
  }

  > *:nth-child(5) {
    border-right: 2px solid black;
  	text-align: center;
  	font-style: italic;
  	color: #ccc;
  }

  > *:nth-child(6) {
  	text-align: center;
  	border-right: 2px solid black;
  }
}

tr:nth-child(6) > * {
  border-top: 2px solid black;
}

.bordertop {
	border-top: 2px solid black;
}

.borderbottom {
  border-bottom: 2px solid black;
  vertical-align: bottom;
}

.tense-form {
	color: $red;
}
