#stage {
  width: 600px;
  height: 300px;
  position: relative;
  // border: 1px solid black;

  canvas {
    position: absolute;
  }

  #ui-layer {
    z-index: 3;
  }

  #game-layer {
    z-index: 2;
  }

  #background-layer {
    z-index: 1;
  }
}